extensions:
	translation: Kdyby\Translation\DI\TranslationExtension
	translation_bridge: SixtyEightPublishers\TranslationBridge\Bridge\Kdyby\DI\TranslationBridgeExtension

translation:
	default: en
	whitelist:
		- en
		- en_US
		- cs_CZ
