services:
	- SixtyEightPublishers\TranslationBridge\Tests\Fixtures\TranslatableService
	-
		type: SixtyEightPublishers\TranslationBridge\Tests\Fixtures\TranslatableService
		implement: SixtyEightPublishers\TranslationBridge\Tests\Fixtures\TranslatableServiceFactoryInterface
